$sp-size: 750;
$pc-size: $sp-size + 1;
$BG: #dbfdff;

@mixin pc {
  @media screen and (min-width: $pc-size) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: $sp-size) {
    @content;
  }
}

@function vw($px) {
  @return $px / $sp-size * 100vw;
}
.forSp {
  @include pc {
    display: none!important;
  }
}
.forPc {
  @include sp {
    display: none!important;
  }
}

img {
  width: 100%;
  display: block;
}

a {
  &:hover{
    text-decoration: underline;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  background: $BG;
  @include pc {
    min-width: 900px;
  }
}

$lato: 'Lato', sans-serif;
$base: #111733;

.clear {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
