@import 'load';
@import 'config';


.weather {
  visibility: hidden;
  opacity: 0;
  &_content {
    width: 600px;
    margin: 50px auto 0;
  }
  &_title {
    font-size: 40px;
    font-weight: 300;
    width: 500px;
    margin: 30px auto 0;
    text-align: center;
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    &:before, &:after {
      content: '';
      position: absolute;
      top: -7px;
      width: 2px;
      height: -webkit-calc(100% + 14px);
      height: calc(100% + 14px);
      background-color: black;
    }
    &:before {
      left: 7px;
    }
    &:after {
      right: 7px;
    }
  }

  &_date {
    text-align: right;
    font-size: 14px;
  }

  &_icon {
    width: 300px;
    margin: 50px auto 0;
    border-radius: 50%;
    background: linear-gradient(145deg, #eaffff, #c5e4e6);
    box-shadow:  12px 12px 24px #c3e1e3,
    -12px -12px 24px #f3ffff;
    padding: 60px;
  }
  &_today {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 30px 0 0;
  }
  &_temps {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    &_item {
      width: 50%;
      border: 2px solid #000;
      padding: 15px 20px;
      text-align: center;
      font-size: 32px;
      &:nth-child(1) {
        background-color: rgba(255,165,0, .7);
        border-right: 0;
      }
      &:nth-child(2) {
        background-color: rgb(142,229,255, .7);
      }

      &-ttl {
        font-size: 20px;
        text-align: center;
        text-align: center;
      }
    }
  }
}

